.compTitle {
    color: orange;
}

.splash {
    height: 70vh;
    width: 100%;
    background-color: blue;
    // Add cloud svg images to create a peaceful above ground scene with sun, some clouds and green grass
}