.Home {
    color: orange;
}

.splash {
    height: 70vh;
    width: 100%;
    background-color: blue;
    background-image: url(../images/drawing.svg);
    background-position: center;
    background-repeat: no-repeat;
}