.wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.title {
    height: 7vh;
    width: 15vw;
    background-color: orange;
}