.wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    height: 30vh;
    width: 45vw;
    background-color: lightgray;
}

.timer {
    height: 8vh;
    background-color: orange;
}

.title {
    height: 4vh;
    background-color: green;
}